
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta charset="utf-8" />
    <title> 网站后台管理</title>
    <meta name="viewport" content="width=device-width" />
    <link href="../../../../Areas/WebHotelManage/Css/ManageLayout.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <div id="top">
        </div>
        <div id="nav">
            <div id="navlink">
                <ul>
                    <li><a href="/WebHotelManage/SysAdmin/AdminMain">首页</a></li>
                    <li><a href="/WebHotelManage/Dishes/DishesPublish">添加菜品</a></li>
                    <li><a href="/WebHotelManage/Dishes/DishesManager">菜品管理</a></li>
                    <li><a href="/WebHotelManage/News/NewsPublish">发布新闻</a></li>
                    <li><a href="/WebHotelManage/News/NewsManager">新闻管理</a></li>
                    <li><a href="/WebHotelManage/Company/BookManager">预订管理</a></li>
                    <li><a href="/WebHotelManage/Company/SuggestionManager">投诉管理</a></li>
                    <li><a href="/WebHotelManage/Company/RecruitmentPublish">发布招聘</a></li>
                    <li><a href="/WebHotelManage/Company/RecruitmentManager">招聘管理</a></li>
                    <li><a class="navLast" href="/WebHotelManage/SysAdmin/ExitSys">退出系统</a></li>
                </ul>
            </div>
        </div>
        <div id="content">

            <div class="itemdiv">
                <div class="book-title">
                    投诉时间
                </div>
                <div class="book-title">
                    客户姓名
                </div>
                <div class="book-title">
                    联系电话
                </div>
                <div class="book-title">
                    电子邮件
                </div>
                <div class="book-title" style="width: 324px;">
                    消费情况
                </div>
                <div class="book-title" style="width: 100px;">
                    操作
                </div>
                <div class="book-title">
                    2017/9/29 17:38:21
                </div>
                <div class="book-title">
                    杜小杰
                </div>
                <div class="book-title">
                    15687423456
                </div>
                <div class="book-title">
                    duxiaojie@qq.com
                </div>
                <div class="book-title" style="width: 324px;">
                    在该店举行一次婚礼
                </div>
                <div class="book-title" style="width: 100px;">
                    <a href='HandleSuggestion?suggestionId=100000'>受理投诉</a>
                </div>
                <div class="bookdetail">
                    <div class="book-comment">
                        感觉总体服务不到位，菜品味道没有以前的好。
                    </div>
                </div>
                <div class="book-title">
                    2017/9/29 17:38:21
                </div>
                <div class="book-title">
                    柳钢
                </div>
                <div class="book-title">
                    15686623456
                </div>
                <div class="book-title">
                    liugang@qq.com
                </div>
                <div class="book-title" style="width: 324px;">
                    在本店聚会一次
                </div>
                <div class="book-title" style="width: 100px;">
                    <a href='HandleSuggestion?suggestionId=100001'>受理投诉</a>
                </div>
                <div class="bookdetail">
                    <div class="book-comment">
                        感觉上菜有点慢,希望后续改进。
                    </div>
                </div>

            </div>

        </div>
        <div id="footer">
            <div id="bq">
                <a target="_blank" href="/Company/Index">[网站首页]</a>&nbsp;&nbsp;版权所有 Copyright(C)2010-2020
                好运来酒店&nbsp;&nbsp;&nbsp;[当前用户:]
            </div>
        </div>
    </div>
</body>
</html>
