
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta charset="utf-8" />
    <title> 网站后台管理</title>
    <meta name="viewport" content="width=device-width" />
    <link href="../../../../Areas/WebHotelManage/Css/ManageLayout.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <div id="top">
        </div>
        <div id="nav">
            <div id="navlink">
                <ul>
                    <li><a href="/WebHotelManage/SysAdmin/AdminMain">首页</a></li>
                    <li><a href="/WebHotelManage/Dishes/DishesPublish">添加菜品</a></li>
                    <li><a href="/WebHotelManage/Dishes/DishesManager">菜品管理</a></li>
                    <li><a href="/WebHotelManage/News/NewsPublish">发布新闻</a></li>
                    <li><a href="/WebHotelManage/News/NewsManager">新闻管理</a></li>
                    <li><a href="/WebHotelManage/Company/BookManager">预订管理</a></li>
                    <li><a href="/WebHotelManage/Company/SuggestionManager">投诉管理</a></li>
                    <li><a href="/WebHotelManage/Company/RecruitmentPublish">发布招聘</a></li>
                    <li><a href="/WebHotelManage/Company/RecruitmentManager">招聘管理</a></li>
                    <li><a class="navLast" href="/WebHotelManage/SysAdmin/ExitSys">退出系统</a></li>
                </ul>
            </div>
        </div>

        <div id="content">


            <div class="itemdiv">
                <div class="newsitem-title-1">
                    发布时间
                </div>
                <div class="newsitem-title-2">
                    新闻标题
                </div>
                <div class="newsitem-title-2">
                    新闻分类
                </div>
                <div class="newsitem-title-3" style="width: 110px;">
                    操作
                </div>
                <div class="newsitem-title-1">
                    2017-09-29
                </div>
                <div class="newsitem-title-2">
                    <a href='/News/NewsDetail?newsId=1000' target="_blank">
                        迎接十一海鲜大促销
                    </a>
                </div>
                <div class="newsitem-title-2">

                    公司新闻
                </div>
                <div class="newsitem-title-3" style="width: 110px;">
                    <a class="" href="/WebHotelManage/News/ShowNewsDetail?newsId=1000&amp;categoryId=1">修改</a>
                    <a href="/WebHotelManage/News/DeleteNews?newsId=1000" onclick="return confirm(&#39;确定要删除吗?&#39;)">删除</a>
                </div>
                <div class="newsitem-title-1">
                    2017-09-29
                </div>
                <div class="newsitem-title-2">
                    <a href='/News/NewsDetail?newsId=1001' target="_blank">
                        本店正在热招加盟商
                    </a>
                </div>
                <div class="newsitem-title-2">

                    公司新闻
                </div>
                <div class="newsitem-title-3" style="width: 110px;">
                    <a class="" href="/WebHotelManage/News/ShowNewsDetail?newsId=1001&amp;categoryId=1">修改</a>
                    <a href="/WebHotelManage/News/DeleteNews?newsId=1001" onclick="return confirm(&#39;确定要删除吗?&#39;)">删除</a>
                </div>
                <div class="newsitem-title-1">
                    2017-09-29
                </div>
                <div class="newsitem-title-2">
                    <a href='/News/NewsDetail?newsId=1002' target="_blank">
                        互联网的消费正在兴起
                    </a>
                </div>
                <div class="newsitem-title-2">

                    社会新闻
                </div>
                <div class="newsitem-title-3" style="width: 110px;">
                    <a class="" href="/WebHotelManage/News/ShowNewsDetail?newsId=1002&amp;categoryId=2">修改</a>
                    <a href="/WebHotelManage/News/DeleteNews?newsId=1002" onclick="return confirm(&#39;确定要删除吗?&#39;)">删除</a>
                </div>
                <div class="newsitem-title-1">
                    2017-09-29
                </div>
                <div class="newsitem-title-2">
                    <a href='/News/NewsDetail?newsId=1003' target="_blank">
                        本店正在热招加盟商
                    </a>
                </div>
                <div class="newsitem-title-2">

                    公司新闻
                </div>
                <div class="newsitem-title-3" style="width: 110px;">
                    <a class="" href="/WebHotelManage/News/ShowNewsDetail?newsId=1003&amp;categoryId=1">修改</a>
                    <a href="/WebHotelManage/News/DeleteNews?newsId=1003" onclick="return confirm(&#39;确定要删除吗?&#39;)">删除</a>
                </div>
                <div class="newsitem-title-1">
                    2017-09-29
                </div>
                <div class="newsitem-title-2">
                    <a href='/News/NewsDetail?newsId=1004' target="_blank">
                        互联网的消费正在兴起
                    </a>
                </div>
                <div class="newsitem-title-2">

                    社会新闻
                </div>
                <div class="newsitem-title-3" style="width: 110px;">
                    <a class="" href="/WebHotelManage/News/ShowNewsDetail?newsId=1004&amp;categoryId=2">修改</a>
                    <a href="/WebHotelManage/News/DeleteNews?newsId=1004" onclick="return confirm(&#39;确定要删除吗?&#39;)">删除</a>
                </div>

            </div>

        </div>

        <div id="footer">
            <div id="bq">
                <a target="_blank" href="/Company/Index">[网站首页]</a>&nbsp;&nbsp;版权所有 Copyright(C)2010-2020
                好运来酒店&nbsp;&nbsp;&nbsp;[当前用户:]
            </div>
        </div>
    </div>
</body>
</html>
