
@{
    Layout = null;
}
@using Models
@model List<DishesCategory>
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta charset="utf-8" />
    <title> 网站后台管理</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Areas/WebHotelManage/Css/ManageLayout.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <div id="top">
        </div>
        <div id="nav">
            <div id="navlink">
                <ul>
                    <li><a href="/WebHotelManage/SysAdmin/AdminMain">首页</a></li>
                    <li><a href="/Dishes/Index">添加菜品</a></li>
                    <li><a href="/Dishes/DishesManager">菜品管理</a></li>
                    <li><a href="/WebHotelManage/News/NewsPublish">发布新闻</a></li>
                    <li><a href="/WebHotelManage/News/NewsManager">新闻管理</a></li>
                    <li><a href="/WebHotelManage/Company/BookManager">预订管理</a></li>
                    <li><a href="/WebHotelManage/Company/SuggestionManager">投诉管理</a></li>
                    <li><a href="/Recruitment/Index">发布招聘</a></li>
                    <li><a href="/Recruitment/RecruitmentManager">招聘管理</a></li>
                    <li><a class="navLast" href="/WebHotelManage/SysAdmin/ExitSys">退出系统</a></li>
                </ul>
            </div>
        </div>
        <div id="content">
            <link href="~/Styles/Dishes.css" rel="stylesheet" />
            <script src="~/Scripts/jquery-1.8.2.min.js"></script>
            <script src="~/Scripts/validation-min.js"></script>
            <script src="~/Scripts/uploadPreview.js"></script>
            <script type="text/javascript">
            $(function () {
                $("#DishesImage").uploadPreview({ Img: "imghead", width: 302, Height: 227 })
            });
            </script>
            <form action="DishesPublish" enctype="multipart/form-data" id="mainForm" method="post" name="mainForm">
                <div class="txtItemdiv">
                    <div class="itemtitle">
                        菜品名称：
                    </div>
                    <div class="itemcontent">
                        <input class="txt" id="DishesName" name="DishesName" type="text" value="" />
                        <span style="color:red">*</span>
                    </div>
                </div>
                <div class="txtItemdiv">
                    <div class="itemtitle">
                        菜品价格：
                    </div>
                    <div class="itemcontent">
                        <input class="txt" id="UnitPrice" name="UnitPrice" type="text" value="" />
                        <span style="color:red">*</span>
                    </div>
                </div>
                <div class="txtItemdiv">
                    <div class="itemtitle">
                        菜品分类：
                    </div>
                    <div class="itemcontent">
                        <select id="CategoryId" name="CategoryId">
                            @{
                                foreach (var temp in Model)
                                {
                                    <option value="@temp.CategoryId">@temp.CategoryName</option>

                                }
                            }
                        </select>
                        <span style="color:red">*</span>
                    </div>
                </div>
                <div class="txtItemdiv">
                    <div class="itemtitle">
                        菜品图片：
                    </div>
                    <div class="itemcontent">
                        <img id="imghead" src="~/Areas/WebHotelManage/Css/Images/default.png" width="302" height="227" />  （要求图片必须小于2M）
                    </div>
                </div>
                <div class="txtItemdiv">
                    <div class="itemtitle">
                        要上传的图片：
                    </div>
                    <div class="itemcontent">
                        <input type="file" id="DishesImage" name="DishesImage" />
                    </div>
                </div>
                <div class="txtItemdiv">
                    <div class="itemtitle" style="margin-left:80px;">
                        <button class="btncss" type="submit" id="btnAdd" formaction="DishesPublish">新增菜品</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="footer">
            <div id="bq">
                <a target="_blank" href="/Company/Index">[网站首页]</a>&nbsp;&nbsp;版权所有 Copyright(C)2010-2020
                好运来酒店&nbsp;&nbsp;&nbsp;[当前用户:李浩]
            </div>
        </div>
    </div>
</body>
</html>

